<div class="container-fluid">
  <div class="row justify-content-center">
    <!-- get user data Block -->
    <div class="col-sm-12 col-md-10 mt-4 border shadow d-flex flex-column">
      <div class="h3">
        User Info
        <button class="btn btn-sm btn-secondary" (click)="showUsers()">
          enter
        </button>
      </div>
      <div class="h6">
        <div class="row" style="height: 50px" *ngIf="userData">
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Username
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Password
          </div>
          <div
            class="col-4 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Email
          </div>
          <div
            class="col-3 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Mobile
          </div>
          <div
            class="col-1 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Task
          </div>
        </div>

        <!-- for loop for iteration -->

        <div class="row" style="height: 50px" *ngFor="let x of uarr">
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="uRowData"
          >
            {{ x.username }}
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="uRowData"
          >
            {{ x.password }}
          </div>
          <div
            class="col-4 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="uRowData"
          >
            {{ x.email }}
          </div>
          <div
            class="col-3 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="uRowData"
          >
            {{ x.mobile }}
          </div>
          <div
            class="col-1 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="uRowData"
          >
            <button class="btn btn-sm btn-warning" (click)="del(x.username)">
              del
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- get Menu data -->
    <div class="col-sm-12 col-md-10 mt-4 border shadow d-flex flex-column">
      <div class="h3">
        Menu
        <button class="btn btn-sm btn-secondary" (click)="showAdminMenu()">
          enter
        </button>
      </div>
      <div class="h6">
        <div class="row" style="height: 40px" *ngIf="menuData">
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Day
          </div>
          <div
            class="col-1 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Item_ID
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Ricc
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Roti
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
          >
            curry
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Sweet_Dish
          </div>
          <div
            class="col-1 border rounded shadow d-flex justify-content-center align-items-center"
          >
            Price
          </div>
        </div>

        <!-- for loop for iteration -->

        <div class="row" style="height: 50px" *ngFor="let x of marr">
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="mRowData"
          >
            {{ x.dayN.toUpperCase() }}
          </div>
          <div
            class="col-1 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="mRowData"
          >
            {{ x.itemId }}
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="mRowData"
          >
            {{ x.rice }}
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="mRowData"
          >
            {{ x.rotis }}
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="mRowData"
          >
            {{ x.curry }}
          </div>
          <div
            class="col-2 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="mRowData"
          >
            {{ x.sweetdish }}
          </div>
          <div
            class="col-1 border rounded shadow d-flex justify-content-center align-items-center"
            *ngIf="mRowData"
          >
            {{ x.price }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
