<div class="container-fluid" style="background: #e3f2fd">
  <div class="row" style="height: 90vh">
    <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-center">
      <div class="display-3 mb-1">Contact US</div>
      <div class="display-4 mb-1">The Paradise Inn</div>
      <div
        class="text-justify"
        style="font-family: sans-serif; font-size: larger"
      >
        <div class="mb-1">Plot No - D/30, SECTOR 20, MG ROAD</div>
        <div>KHARGHAR, NAVI MUMBAI, INDIA</div>

        <div>Key Personnel - Mr. John Doe</div>
        <div>MBA - Hotel Management</div>
        <div class="mb-1">Designation: Chief Officer</div>
        <div class="mb-1">
          <a routerLink="/home/contact-us">+91 98159-42087</a>
          <a routerLink="/home/contact-us">+91-172-2594348</a>
        </div>

        <div class="mb-1">
          <a routerLink="/home/contact-us">info@theParadiseinn.com</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <img [src]="imgsrc" alt="" style="height: 100%; width: 100%" />
    </div>
  </div>
</div>
