<div class="container-fluid">
  <div class="row" style="height: 90vh">
    <div class="col-6 d-flex flex-column justify-content-center">
      <div class="display-3">About US</div>
      <div
        class="text-justify"
        style="font-family: sans-serif; font-size: larger"
      >
        The purpose of the canteen is three-fold: To provide a healthy and
        appealing breakfast, lunch and dinner service to the students and
        faculty of the college and institutes.
      </div>
    </div>
    <div class="col-6">
      <img [src]="imgsrc" alt="" style="height: 100%; width: 100%" />
    </div>
  </div>
</div>
