<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div
      class="col-8 d-flex flex-column justify-content-center align-items-center"
      style="margin-top: 60px"
    >
      <div>
        <img [src]="imgsrc" alt="" style="height: 100%; width: 100%" />
      </div>
      <div class="row">
        <div class="col-10 display-4">PAGE NOT FOUND</div>
        <div class="col-2">
          <a routerLink="/login">
            <button class="btn btn-sm btn-primary" style="background: #00b0ff">
              go back
            </button>
          </a>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
