<div class="container-fluid m-0">
  <div class="row bg-info text-light sticky-top" style="height: 70px">
    <div
      class="col d-flex align-items-center"
      style="font-size: 32px; font-family: Verdana, Geneva, Tahoma, sans-serif"
    >
      <fa-icon
        [icon]="faUtensils"
        style="font-size: 28px; margin-right: 8px"
      ></fa-icon>
      THE PARADISE INN
    </div>
    <div class="col d-flex justify-content-end align-items-center">
      <a class="btn btn-outline-light mr-1" routerLink="/admin-home"
        >Admin Menu</a
      >

      <button class="btn btn-outline-light mr-1" (click)="processLogout()">
        Log Out
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
